<!DOCTYPE html>
<html>
<head>
    <title>Landing Page</title>
</head>
<body>
    <h1>Avolta Net</h1>
    <p>This is the landing page content.</p>
    <a href="/login">Login</a> <!-- Link to login page -->
    <a href="/register">Register</a> <!-- Link to registration page -->
    <a href="/reset_password">Reset Password</a> <!-- Link to reset_password page -->
    <a href="/change_password">Change Password</a> <!-- Link to reset_password page -->
    <a href="/test/">Test</a> <!-- Link to reset_password page -->

</body>
</html>
